body {
    font-size: 1.2em;
    
} 

h1 {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;  
}
    
h3 {
    background: color ffffcc;
    color: black;
}    
    
h5 {
    background-color: wheat;
    color: black;
} 

div {
    color: black;
    background: wheat;     
}

#map,
body,
html {
    height: 100%;
}
  