body {
    font-size: 1.2em;
    
} 

h1 {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;  
}
    
h3 {
    background-color: #263043;
    color: whitesmoke;
}    
    
h5 {
    background-color: #263043;
    color: whitesmoke;
} 

div {
    color: whitesmoke;
    background: #263043;     
}

#map,
body,
html {
    height: 100%;
}
  